<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
<div class="col-sm-10" >
    <script type="text/javascript">
                authorization();
    </script>
    <div ng-show="ctrl.findCheapMode">
        <div class="panel panel-default">
            <p>
                <label>Maximum Price:</label>
                <input type="number"  placeholder="Search price" ng-model="priceMax" required ng-minlength="1" ng-maxlength="10" cols="80">
            </p>
            <a class="btn btn-default" ng-click="ctrl.findItem(priceMax)" >Find Cheapest</a>
        </div>
    </div>
    <div ng-show="ctrl.detailsMode == false" ng-repeat="record in records| orderBy:'+album.name'">
        <div class="col-md-4 col-sm-6 col-lg-3 well">
            <div class="col-md-12">
                <div class="img-thumbnail" id="{{$parent.$index}}-{{column.name}}">
                    <a ng-href="{{record.album.cover}}" target="_blank"><img style="width: 250px;height: 250px" class="img-responsive" ng-src="{{record.album.cover}}" alt="{{record.album.cover}}"></a>
                </div>
            </div>
            <div class="caption" >
                <p><strong>Long Play: </strong> {{record.name}}</p>
                <p><strong>Album: </strong>{{record.album.name}}</p>
                <p><strong>Release: </strong>{{record.album.release| date}}</p>
                <p><strong>Single: </strong> <span class="glyphicon" ng-class="{'glyphicon-check': !!record.album.single, 'glyphicon-unchecked': !record.album.single}"></span></p>
                <p><strong>Artist: </strong> {{record.album.artist}}</p>
                <p><strong>Price: </strong> {{record.price| currency}}</p>
                <p><strong>Discount: </strong> {{record.discount| currency}}</p>
                <p><strong>Provider: </strong> {{record.provider.name}}</p>
                <p><strong>Songs: </strong> {{record.songs.length}}</p>
                <div ng-show="record.songs.length > 0" ng-include src="'src/modules/song/song.tpl.html'" ></div>
            </div>
            <p ng-if="ctrl.recordActions" class="text-center">
                <button ng-repeat="action in ctrl.recordActions" id="{{$parent.$index}}-{{action.name}}-btn" class="btn btn-default btn-sm" ng-show="action.show()" ng-click="action.fn(record)" ><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
            </p>
            <div ng-include src="modal.url" ng-if="modal.data.album.id == record.album.id"></div>
        </div>
    </div>
</div>
<div class="col-sm-2" style="position: absolute; right: 0px; padding-left: 0px;">
    <div class="panel panel-default text-center" style="background-color: #2780E3; color: white;">
        <h2> Top Seller </h2>
        <div ng-repeat="seller in sellers" style="background-color: #f5f5f5">
            <div align="center" style="padding: 10px;">
                <h5 style="color: black;"><b>{{seller.artist}}</b></h5>
                <img style="width: 175px;height: 175px" class="img-responsive" ng-src="{{seller.cover}}" alt="{{seller.cover}}">
            </div>
        </div>
        
    </div>
</div>
<div class="col-sm-10 text-center">
    <pagination ng-show="ctrl.numPages > 1" num-pages="ctrl.numPages" total-items="ctrl.totalItems"
                ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" items-per-page="ctrl.itemsPerPage"
                max-size="ctrl.maxSize" class="pagination-md" boundary-links="true" rotate="false"></pagination>
</div>
<div ng-show="ctrl.detailsMode" ng-if="model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><strong>Long Play: </strong> {{model.name}}</p>
            <p><strong>Album: </strong> {{model.album.name}}</p>
        </div>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="commentReg" placeholder="New comment..."  ng-minlength="1" required ng-maxlength="250" style="width: 100%; border-radius: 4px; padding: 18px 18px">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.addComment(model, commentReg);
                                ctrl.refreshComment(model);
                                commentReg = ''" style="float:right; width: 100%">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Add 
                    </button>
                </span>
            </div>
            <br>
            <div class="input-group">
                <button type="button" class="btn btn-primary" ng-click="ctrl.detailsMode = false;
                            ctrl.findCheapMode = true" style="float:left; width: 100%">
                    <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back 
                </button>
            </div>
            <div class="panel-heading"> <strong>Comments:</strong> </div>
            <ul class="list-group" ng-repeat="comment in model.comments">
                <li ng-show="comment.idPadre == null" class="list-group-item">
                    {{comment.description}}
                    <br><a ng-click="ctrl.answerMode[comment.id] = !ctrl.answerMode[comment.id];
                                    ctrl.idCommentPadre = comment.id">Reply</a></br>
                    <div ng-show="ctrl.answerMode[comment.id]" class="input-group">
                        <input type="text" class="form-control" placeholder="Reply..."  ng-model="answer" ng-minlength="1" required ng-maxlength="250" style="width: 100%; border-radius: 4px; padding: 18px 18px">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="ctrl.addAnswer(model, answer);
                                            answer = ''" style="float:right; width: 100%">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
                            </button>
                        </span>
                    </div>
                </li>
                <ul class="list-group" ng-repeat="respuesta in model.comments">
                    <li ng-show="respuesta.idPadre != null && respuesta.idPadre == comment.id && comment.idPadre == null" class="list-group-item" > 
                        <div style="background-color: black !important; border: 0px !important; padding:0px !important;">
                            <ul class="list-group" style="padding-left: 30px; border: 0px;">
                                <li class="list-group-item" style="background-color: white; color:black; 
                                    padding:18px 18px; margin-bottom: 2px;">{{respuesta.description}}

                                    <br><a ng-click="ctrl.answerMode[respuesta.id] = !ctrl.answerMode[respuesta.id];
                                                        ctrl.idCommentPadre = respuesta.id">Reply</a></br></li>
                            </ul>    
                        </div>
                        <div ng-show="ctrl.answerMode[respuesta.id]" class="input-group">
                            <input type="text" class="form-control" placeholder="Reply..."  ng-model="answer" ng-minlength="1" required ng-maxlength="250" style="width: 100%; border-radius: 4px; padding: 18px 18px">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="ctrl.addAnswer(model, answer);
                                                    answer = ''" style="float:right; width: 100%">
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
                                </button>
                            </span>
                        </div>

                        <ul class="list-group" ng-repeat="c_respuesta in model.comments">
                            <li ng-show="c_respuesta.idPadre == respuesta.id" class="list-group-item" 
                                style="background-color: black !important; border: 0px !important; padding:0px !important;"> 
                                <div>
                                    <ul class="list-group" style="padding-left: 60px; border: 0px;">
                                        <li class="list-group-item" style="background-color: white; color:black; 
                                            padding:18px 18px; margin-bottom: 2px;">{{c_respuesta.description}}

                                    </ul>    
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>    
        </div>

    </div>